html {
    scroll-behavior: smooth;
    position: relative;
}

html::-webkit-scrollbar {
    width: 0;
}

body {
    background: #FFF url("../img/bg.png") repeat;
    background-attachment: fixed;
    font-family: "Raleway", sans-serif;
    width: 84%;
    margin: 0 auto
}

.cabecera {
    background: #FFF url("../img/bg.png") repeat;
    background-attachment: fixed;
    position: fixed;
    width: 84%;
    height: 5vh;
    padding: 2% 8vw 0 8vw;
    margin-left: -8vw;
    display: flex;
    justify-content: space-between;
    border-bottom: rgba(0, 0, 0, 0.5);
    border-style: solid;
}

.cabecera__nombre {
    max-width: 50vw;
}

.cabecera__menu {
    min-width: 50vw;
}

.cabecera__menu__lista {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.cabecera__menu__lista li a {
    text-decoration: none;
    color: black;
}

.cabecera__menu__lista__correo {
    font-weight: bold;
}

.presentacion {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.presentacion__texto {
    width: 70%;
}

.presentacion__nombre {
    display: block;
    font-weight: bold;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.712);
}

.presentacion__details {
    display: block;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.712);
    margin: 4% 0;
}

.presentacion__enlaces {
    display: flex;
    width: 50%;
    justify-content: space-between;
    gap: 15px;
}

.presentacion__enlaces a {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.712);
    text-decoration: none;
    padding-left: 1.3rem;
}

.presentacion__enlaces a:hover {
    font-weight: bold;
}

.presentacion__enlaces :nth-child(1) {
    background: url("../img/github.png") no-repeat left;
    background-size: 1.1rem;
}

.presentacion__enlaces :nth-child(2) {
    background: url("../img/linkedin.png") no-repeat left;
    background-size: 1.1rem;
}

.presentacion__enlaces :nth-child(3) {
    background: url("../img/cv.png") no-repeat left;
    background-size: 1.1rem;
}

.presentacion__img {
    width: 30%;
    border-radius: 100%;
}

.skills {
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 13vh;
}

.skills__titulo {
    margin: 2% auto;
    font-size: 1.5rem;
    font-weight: 800;
}

.skills__cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.skills__card {
    display: flex;
    background-color: #2a7be421;
    width: 13%;
    aspect-ratio: 1;
    flex-direction: column;
    justify-content: end;
    padding: 1%;
    gap: 5px;
    word-break: break-all;
}

.skills__card__img {
    width: 25%;
}

#formaciones {
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100vw;
    background-color: #2a7be421;
    margin: 0 0 0 -8vw;
    justify-content: center;
}

.formacion {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 84vw;
}

.formacion__titulo {
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 800;
}

.formacion__cards {
    display: flex;
    justify-content: space-between;
    margin: 1% 0;
}

.formacion__card {
    display: flex;
    flex-direction: column;
    width: 32%;
    background-color: white;
}

.formacion__card__img {
    width: 96%;
    border-width: 1px;
    border-style: solid;
    aspect-ratio: 3.8;
    padding: 2%;
}

.formacion__card__title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 3% 0;
}

.formacion__card__description {
    font-size: 1.1rem;
}

.proyectos {
    min-height: 87vh;
    padding-top: 13vh;
    display: flex;
    flex-direction: column;
}

.proyectos__titulo {
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 800;
}

.proyectos__articulos {
    display: flex;
    flex-direction: column;
}

.proyectos__card {
    display: flex;
    width: 99%;
    margin: 1.5% 0;
    align-items: center;
    gap: 1%;
}

.proyectos__card:nth-child(2n) {
    display: flex;
    flex-direction: row-reverse;
}

.proyectos__card__img {
    width: 60%;
}

.proyectos__card__texto {
    width: 40%;
}

.proyectos__card__title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 3%;
}

.proyectos__card__description {
    font-size: 1rem;
    margin: 3%;
}

.proyectos__card__buttons {
    margin: 5% 3%;
    display: flex;
    gap: 5%;
}

.proyectos__card__buttons__repositorio{
    color: #2A7AE4;
    text-decoration: none;
    padding: 4%;
    border: #2A7AE4 1px solid;  
    transition: 0.5s;
  
}

.proyectos__card__buttons__demo {
    background-color: #2A7AE4;
    color:#FFFFFF;
    text-decoration: none;
    padding: 4%;
    transition: 0.5s;

}

.proyectos__card__buttons__repositorio:hover, .proyectos__card__buttons__demo:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.disabled {
    background-color: #CCCCCC;
    pointer-events: none; 
    cursor: default;
}

.contacto {
    min-height: 66vh;
    display: flex;
    margin-left: -8vw;
    margin-right: -8vw;
    gap: 5%;
    padding: 3% 18%;
    background-color: #2a7be421;   
}

.contacto__image {
    width: 40%;
}

.contacto__formulario {
    width: 60%;
}

.contacto__title {
    font-size: 1.5rem;
    font-weight: 800;
}

.contacto__fieldset {
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    gap: 10px;
}

.contacto__campo {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 10px;
}

.contacto__campo label {
    font-size: 0.9rem;
    color: #0000008e
}

.contacto__campo input {
    font-family: "Raleway", sans-serif;
    border-style: none;
    font-size: 1.2rem;
    font-style: italic;

}

.contacto__campo input:focus {
    outline: none;
}

.contacto__campo textarea {
    font-family: "Raleway", sans-serif;
    border-style: none;
    font-size: 1.2rem;
    font-style: italic;
    height: 7.2rem;
    resize: none;
}

.contacto__campo textarea:focus {
    outline: none;
}

.contacto__submit {
    width: 20%;
    background-color: #2A7AE4;
    color:#FFFFFF;
    text-decoration: none;
    padding: 2%;
    transition: 0.5s;
}

.contacto__submit:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.footer {
    min-height: 5vh;
    border-top: rgba(0, 0, 0, 0.5);
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}